<ng-container *ngFor="let item of items; let i=index">
  <ng-container *ngIf="(i+1)%2==0;else odd">
     <div class="even_cont border-2 border-black  " (mouseenter)="enter()" (mouseleave)="enter()">
        <div class="w-[100%] rounded-t-2xl rounded-br-3xl cur" [style.height]="even ? '58%' : '85%'" [ngClass]="even? 'bg-blue-400':'bg-red-500'">

        </div>
     
         <div class="w-[295px] bg-white rounded-bl-2xl border-b-2 border-black rounded-br-2xl even_t absolute" [style.top]="even ? '50px':'200px'" [style.height]="even ? '42%' : '19%'"  >

         </div>
     </div>
  </ng-container> 
  <ng-template #odd>
      odd
  </ng-template>

</ng-container>
