<div class="vh-100 vw-100 d-flex justify-content-center align-items-center  bg-light position-relative">
    <div class="text-center p-3  shadow-lg d-flex flex-column align-items-center justify-content-center rounded-5 position-absolute" style="width: 80%; height:80% ; max-width: 576px; min-width: 400px; top:15%">
       <div class="mobile shadow-lg">
        <img src="https://cdn-icons-png.flaticon.com/256/675/675564.png" class="h-100 w-100 ">
       </div>
       
       <div  class="mt-5 ">
       <div class="fs-5 title">Something is wrong please try again later</div>
       <div class="text-decoration-none"><a class="title" href="/">Or Go back and login</a></div>
    
       </div>
       
    </div>
</div>
    