.mobile{
    height: 60%;
    width: 60%;
}

.title{
    font-family: "Playwrite DK Uloopet", cursive;
    font-optical-sizing: auto;
    font-weight:100px;
    font-style: normal;
    
  }
@media  (max-width:576px){
    .mobile{
        height: 80%;
        width: 80%;
    }
} 